In [1]:
import numpy as np

In [2]:
new_array = np.array([4,86,4,2,6,8,5,8,34,1])

In [3]:
new_array

array([ 4, 86,  4,  2,  6,  8,  5,  8, 34,  1])

In [4]:
new_array.mean()

15.8

In [5]:
new_array.std()

25.063120316512865

In [6]:
import pandas as pd

In [7]:
animal = pd.read_csv("Austin_Animal_Center_Outcomes.csv")

In [8]:
animal

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
3,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
4,A689724,*Donatello,10/18/2014 06:52:00 PM,10/18/2014 06:52:00 PM,08/01/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black
...,...,...,...,...,...,...,...,...,...,...,...,...
120545,A823165,NaN,09/17/2020 07:35:00 PM,09/17/2020 07:35:00 PM,08/25/2020,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Shorthair,Black
120546,A823167,NaN,09/17/2020 07:35:00 PM,09/17/2020 07:35:00 PM,08/25/2020,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Shorthair,Black
120547,A823166,NaN,09/17/2020 07:35:00 PM,09/17/2020 07:35:00 PM,08/25/2020,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Shorthair,Black
120548,A823168,NaN,09/17/2020 07:35:00 PM,09/17/2020 07:35:00 PM,08/25/2020,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Shorthair,Blue
120549,A823016,NaN,09/18/2020 05:03:00 PM,09/18/2020 05:03:00 PM,03/14/2020,Euthanasia,Rabies Risk,Other,Unknown,6 months,Opossum,Gray/White

In [9]:
animal.describe()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
count,120550,82669,120550,120550,120550,120542,55200,120550,120549,120547,120550,120550
unique,107798,19275,99428,99428,6967,9,23,5,5,51,2595,588
top,A721033,Max,04/18/2016 12:00:00 AM,04/18/2016 12:00:00 AM,04/21/2014,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,540,39,39,117,53185,29960,68363,42255,21548,31003,12634

In [10]:
array2 = new_array

In [11]:
array2

array([ 4, 86,  4,  2,  6,  8,  5,  8, 34,  1])

In [12]:
array2 == new_array

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [13]:
array2 is new_array

True

In [14]:
array2 * 2

array([  8, 172,   8,   4,  12,  16,  10,  16,  68,   2])

In [15]:
array2 is new_array

True

In [16]:
array2 *= 2

In [17]:
array2 == new_array

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [18]:
new_array

array([  8, 172,   8,   4,  12,  16,  10,  16,  68,   2])

In [19]:
animal["Outcome Type"]

0          Rto-Adopt
1           Adoption
2           Adoption
3           Transfer
4           Adoption
             ...
120545      Transfer
120546      Transfer
120547      Transfer
120548      Transfer
120549    Euthanasia
Name: Outcome Type, Length: 120550, dtype: object